*
!.aider.conf.yml
!.vim/snippets/*
!.vim/pack/git-plugins/start/*
!.vimrc
!.tmux.conf
!README.md
!pyrightconfig.json
!.clang-format
!.vim/colors/
!.config/nvim/init.vim
!.config/nvim/colors/
!.config/nvim/pack/
!usr/
!freebsd-service-files/
