# Enable vi editing mode
set editing-mode vi
set keyseq-timeout 10
set show-mode-in-prompt on
set vi-ins-mode-string ""
set vi-cmd-mode-string "[NORMAL] "

# Disable terminal bell
set bell-style none

# Ensure that Ctrl-l works in vi-mode
"\C-l": clear-screen
